.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-icon-1 {
  width: 510px;
  height: 137px;
  animation-duration: 1000ms;
  margin: 5px auto 0;
}

.u-section-1 .u-image-1 {
  width: 41px;
  height: 73px;
  animation-duration: 1000ms;
  margin: -24px auto 0;
}

.u-section-1 .u-group-1 {
  width: 432px;
  min-height: 91px;
  animation-duration: 1000ms;
  margin: 7px auto 0 354px;
}

.u-section-1 .u-text-1 {
  font-family: "Alegreya SC";
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 3px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Alegreya SC";
  font-size: 1.125rem;
  margin: -79px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: "Alegreya SC";
  font-size: 1.125rem;
  margin: 42px auto 0;
}

.u-section-1 .u-video-1 {
  height: 360px;
  width: 640px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-1 .u-image-2 {
  width: 122px;
  height: 199px;
  animation-duration: 1000ms;
  margin: -199px auto 0 93px;
}

.u-section-1 .u-image-3 {
  width: 121px;
  height: 197px;
  animation-duration: 1000ms;
  margin: -197px 94px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 100px;
  height: 29px;
  animation-duration: 1000ms;
  margin: 35px auto 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-video-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-image-2 {
    width: 118px;
    height: 192px;
    margin-top: -192px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-3 {
    width: 118px;
    height: 192px;
    margin-top: -192px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    margin-top: -23px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -199px;
    margin-left: -389px;
  }

  .u-section-1 .u-image-3 {
    margin-left: -389px;
  }

  .u-section-1 .u-image-4 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -17px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-video-1 {
    height: 300px;
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -516px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    width: 439px;
    height: 118px;
    margin-top: 9px;
    margin-left: -49px;
    margin-right: -49px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -18px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 25px;
    min-height: 94px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: auto;
    margin-top: 16px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -59px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 31px;
    margin-bottom: -10px;
  }

  .u-section-1 .u-video-1 {
    height: 190px;
    margin-top: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-top: -403px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 80px;
  }
}